/* 原生CSS沒有轉成tailwind 對應到原檔的index.css */
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
/* html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
} */

.game {
  position: relative;
  outline: 1px solid red;
  height: 100%;
  overflow: hidden;
  font-family: "Croissant One", cursive;
}
.game .tip {
  text-align: center;
  font-size: 32px;
}
.game .post1 {
  margin-bottom: 450px;
}
.game .post2 {
  margin-left: 450px;
}
.game .post3 {
  margin-left: -450px;
}
.game .card {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -100px;
  transform-origin: center calc(100% + 100px);
  perspective: 500px;
  transition: transform 0.5s;
}
.game .card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
  border-radius: 16px;
}
.game .card .content .front {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  backface-visibility: hidden;
}
.game .card .content .front::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  background-image: url(../../public/assets/intro/back.png);
  background-position: center center;
  background-size: cover;
}
.game .card .content .back {
  position: absolute;
  height: 100%;
  width: 100%;
  color: #03446a;
  background-color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  border-radius: 15px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game .card .content .back::after {
  content: attr(text);
}
.game .card .content .back::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  /* border: 5px solid #03446A; */
  border-radius: 10px;
  background-color: transpatent;
}
.game .card .content .reversed::after {
  rotate: 180deg;
}
.game .card .active {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}
.game .card .pickup {
  margin-bottom: 100px;
}
.game .forward1 {
  z-index: 1;
  transition: all 0.5s;
  bottom: 60px;
}
.game .forward12 {
  z-index: 2;
  bottom: 490px;
}
.game .forward2 {
  transition: all 0.5s;
  bottom: 60px;
}
.game .forward22 {
  bottom: 260px;
  left: 450px;
}
.game .forward3 {
  z-index: 3;
  transition: all 0.5s;
  bottom: 60px;
}
.game .forward32 {
  bottom: 260px;
  left: -450px;
}
.game .card1Active {
  transition: transform 0.5s;
  transform: rotate(-45deg);
}
.game .card1Active:hover {
  transform: rotate(-45deg) translateX(35.3553390593px)
    translateY(-35.3553390593px);
}
.game .card1pickup {
  transform: rotate(-45deg) translateX(35.3553390593px)
    translateY(-35.3553390593px);
}
.game .card2Active {
  transition: transform 0.5s;
  transform: rotate(-42.9069767442deg);
}
.game .card2Active:hover {
  transform: rotate(-42.9069767442deg) translateX(34.0405031789px)
    translateY(-36.6230001956px);
}
.game .card2pickup {
  transform: rotate(-42.9069767442deg) translateX(34.0405031789px)
    translateY(-36.6230001956px);
}
.game .card3Active {
  transition: transform 0.5s;
  transform: rotate(-40.8139534884deg);
}
.game .card3Active:hover {
  transform: rotate(-40.8139534884deg) translateX(32.6802469442px)
    translateY(-37.8417951433px);
}
.game .card3pickup {
  transform: rotate(-40.8139534884deg) translateX(32.6802469442px)
    translateY(-37.8417951433px);
}
.game .card4Active {
  transition: transform 0.5s;
  transform: rotate(-38.7209302326deg);
}
.game .card4Active:hover {
  transform: rotate(-38.7209302326deg) translateX(31.2763853494px)
    translateY(-39.0100976604px);
}
.game .card4pickup {
  transform: rotate(-38.7209302326deg) translateX(31.2763853494px)
    translateY(-39.0100976604px);
}
.game .card5Active {
  transition: transform 0.5s;
  transform: rotate(-36.6279069767deg);
}
.game .card5Active:hover {
  transform: rotate(-36.6279069767deg) translateX(29.8307915717px)
    translateY(-40.1263488771px);
}
.game .card5pickup {
  transform: rotate(-36.6279069767deg) translateX(29.8307915717px)
    translateY(-40.1263488771px);
}
.game .card6Active {
  transition: transform 0.5s;
  transform: rotate(-34.5348837209deg);
}
.game .card6Active:hover {
  transform: rotate(-34.5348837209deg) translateX(28.3453944716px)
    translateY(-41.1890593757px);
}
.game .card6pickup {
  transform: rotate(-34.5348837209deg) translateX(28.3453944716px)
    translateY(-41.1890593757px);
}
.game .card7Active {
  transition: transform 0.5s;
  transform: rotate(-32.4418604651deg);
}
.game .card7Active:hover {
  transform: rotate(-32.4418604651deg) translateX(26.8221760192px)
    translateY(-42.196811178px);
}
.game .card7pickup {
  transform: rotate(-32.4418604651deg) translateX(26.8221760192px)
    translateY(-42.196811178px);
}
.game .card8Active {
  transition: transform 0.5s;
  transform: rotate(-30.3488372093deg);
}
.game .card8Active:hover {
  transform: rotate(-30.3488372093deg) translateX(25.26316865px)
    translateY(-43.1482596377px);
}
.game .card8pickup {
  transform: rotate(-30.3488372093deg) translateX(25.26316865px)
    translateY(-43.1482596377px);
}
.game .card9Active {
  transition: transform 0.5s;
  transform: rotate(-28.2558139535deg);
}
.game .card9Active:hover {
  transform: rotate(-28.2558139535deg) translateX(23.6704525524px)
    translateY(-44.0421352339px);
}
.game .card9pickup {
  transform: rotate(-28.2558139535deg) translateX(23.6704525524px)
    translateY(-44.0421352339px);
}
.game .card10Active {
  transition: transform 0.5s;
  transform: rotate(-26.1627906977deg);
}
.game .card10Active:hover {
  transform: rotate(-26.1627906977deg) translateX(22.0461528929px)
    translateY(-44.8772452655px);
}
.game .card10pickup {
  transform: rotate(-26.1627906977deg) translateX(22.0461528929px)
    translateY(-44.8772452655px);
}
.game .card11Active {
  transition: transform 0.5s;
  transform: rotate(-24.0697674419deg);
}
.game .card11Active:hover {
  transform: rotate(-24.0697674419deg) translateX(20.3924369797px)
    translateY(-45.6524754425px);
}
.game .card11pickup {
  transform: rotate(-24.0697674419deg) translateX(20.3924369797px)
    translateY(-45.6524754425px);
}
.game .card12Active {
  transition: transform 0.5s;
  transform: rotate(-21.976744186deg);
}
.game .card12Active:hover {
  transform: rotate(-21.976744186deg) translateX(18.7115113714px)
    translateY(-46.3667913727px);
}
.game .card12pickup {
  transform: rotate(-21.976744186deg) translateX(18.7115113714px)
    translateY(-46.3667913727px);
}
.game .card13Active {
  transition: transform 0.5s;
  transform: rotate(-19.8837209302deg);
}
.game .card13Active:hover {
  transform: rotate(-19.8837209302deg) translateX(17.0056189325px)
    translateY(-47.019239942px);
}
.game .card13pickup {
  transform: rotate(-19.8837209302deg) translateX(17.0056189325px)
    translateY(-47.019239942px);
}
.game .card14Active {
  transition: transform 0.5s;
  transform: rotate(-17.7906976744deg);
}
.game .card14Active:hover {
  transform: rotate(-17.7906976744deg) translateX(15.2770358408px)
    translateY(-47.6089505862px);
}
.game .card14pickup {
  transform: rotate(-17.7906976744deg) translateX(15.2770358408px)
    translateY(-47.6089505862px);
}
.game .card15Active {
  transition: transform 0.5s;
  transform: rotate(-15.6976744186deg);
}
.game .card15Active:hover {
  transform: rotate(-15.6976744186deg) translateX(13.5280685504px)
    translateY(-48.1351364525px);
}
.game .card15pickup {
  transform: rotate(-15.6976744186deg) translateX(13.5280685504px)
    translateY(-48.1351364525px);
}
.game .card16Active {
  transition: transform 0.5s;
  transform: rotate(-13.6046511628deg);
}
.game .card16Active:hover {
  transform: rotate(-13.6046511628deg) translateX(11.761050714px)
    translateY(-48.5970954492px);
}
.game .card16pickup {
  transform: rotate(-13.6046511628deg) translateX(11.761050714px)
    translateY(-48.5970954492px);
}
.game .card17Active {
  transition: transform 0.5s;
  transform: rotate(-11.511627907deg);
}
.game .card17Active:hover {
  transform: rotate(-11.511627907deg) translateX(9.9783400693px)
    translateY(-48.9942111832px);
}
.game .card17pickup {
  transform: rotate(-11.511627907deg) translateX(9.9783400693px)
    translateY(-48.9942111832px);
}
.game .card18Active {
  transition: transform 0.5s;
  transform: rotate(-9.4186046512deg);
}
.game .card18Active:hover {
  transform: rotate(-9.4186046512deg) translateX(8.1823152929px)
    translateY(-49.3259537814px);
}
.game .card18pickup {
  transform: rotate(-9.4186046512deg) translateX(8.1823152929px)
    translateY(-49.3259537814px);
}
.game .card19Active {
  transition: transform 0.5s;
  transform: rotate(-7.3255813953deg);
}
.game .card19Active:hover {
  transform: rotate(-7.3255813953deg) translateX(6.3753728266px)
    translateY(-49.5918805988px);
}
.game .card19pickup {
  transform: rotate(-7.3255813953deg) translateX(6.3753728266px)
    translateY(-49.5918805988px);
}
.game .card20Active {
  transition: transform 0.5s;
  transform: rotate(-5.2325581395deg);
}
.game .card20Active:hover {
  transform: rotate(-5.2325581395deg) translateX(4.5599236795px)
    translateY(-49.7916368082px);
}
.game .card20pickup {
  transform: rotate(-5.2325581395deg) translateX(4.5599236795px)
    translateY(-49.7916368082px);
}
.game .card21Active {
  transition: transform 0.5s;
  transform: rotate(-3.1395348837deg);
}
.game .card21Active:hover {
  transform: rotate(-3.1395348837deg) translateX(2.7383902114px)
    translateY(-49.9249558743px);
}
.game .card21pickup {
  transform: rotate(-3.1395348837deg) translateX(2.7383902114px)
    translateY(-49.9249558743px);
}
.game .card22Active {
  transition: transform 0.5s;
  transform: rotate(-1.0465116279deg);
}
.game .card22Active:hover {
  transform: rotate(-1.0465116279deg) translateX(0.9132029003px)
    translateY(-49.9916599091px);
}
.game .card22pickup {
  transform: rotate(-1.0465116279deg) translateX(0.9132029003px)
    translateY(-49.9916599091px);
}
.game .card23Active {
  transition: transform 0.5s;
  transform: rotate(1.0465116279deg);
}
.game .card23Active:hover {
  transform: rotate(1.0465116279deg) translateX(-0.9132029003px)
    translateY(-49.9916599091px);
}
.game .card23pickup {
  transform: rotate(1.0465116279deg) translateX(-0.9132029003px)
    translateY(-49.9916599091px);
}
.game .card24Active {
  transition: transform 0.5s;
  transform: rotate(3.1395348837deg);
}
.game .card24Active:hover {
  transform: rotate(3.1395348837deg) translateX(-2.7383902114px)
    translateY(-49.9249558743px);
}
.game .card24pickup {
  transform: rotate(3.1395348837deg) translateX(-2.7383902114px)
    translateY(-49.9249558743px);
}
.game .card25Active {
  transition: transform 0.5s;
  transform: rotate(5.2325581395deg);
}
.game .card25Active:hover {
  transform: rotate(5.2325581395deg) translateX(-4.5599236795px)
    translateY(-49.7916368082px);
}
.game .card25pickup {
  transform: rotate(5.2325581395deg) translateX(-4.5599236795px)
    translateY(-49.7916368082px);
}
.game .card26Active {
  transition: transform 0.5s;
  transform: rotate(7.3255813953deg);
}
.game .card26Active:hover {
  transform: rotate(7.3255813953deg) translateX(-6.3753728266px)
    translateY(-49.5918805988px);
}
.game .card26pickup {
  transform: rotate(7.3255813953deg) translateX(-6.3753728266px)
    translateY(-49.5918805988px);
}
.game .card27Active {
  transition: transform 0.5s;
  transform: rotate(9.4186046512deg);
}
.game .card27Active:hover {
  transform: rotate(9.4186046512deg) translateX(-8.1823152929px)
    translateY(-49.3259537814px);
}
.game .card27pickup {
  transform: rotate(9.4186046512deg) translateX(-8.1823152929px)
    translateY(-49.3259537814px);
}
.game .card28Active {
  transition: transform 0.5s;
  transform: rotate(11.511627907deg);
}
.game .card28Active:hover {
  transform: rotate(11.511627907deg) translateX(-9.9783400693px)
    translateY(-48.9942111832px);
}
.game .card28pickup {
  transform: rotate(11.511627907deg) translateX(-9.9783400693px)
    translateY(-48.9942111832px);
}
.game .card29Active {
  transition: transform 0.5s;
  transform: rotate(13.6046511628deg);
}
.game .card29Active:hover {
  transform: rotate(13.6046511628deg) translateX(-11.761050714px)
    translateY(-48.5970954492px);
}
.game .card29pickup {
  transform: rotate(13.6046511628deg) translateX(-11.761050714px)
    translateY(-48.5970954492px);
}
.game .card30Active {
  transition: transform 0.5s;
  transform: rotate(15.6976744186deg);
}
.game .card30Active:hover {
  transform: rotate(15.6976744186deg) translateX(-13.5280685504px)
    translateY(-48.1351364525px);
}
.game .card30pickup {
  transform: rotate(15.6976744186deg) translateX(-13.5280685504px)
    translateY(-48.1351364525px);
}
.game .card31Active {
  transition: transform 0.5s;
  transform: rotate(17.7906976744deg);
}
.game .card31Active:hover {
  transform: rotate(17.7906976744deg) translateX(-15.2770358408px)
    translateY(-47.6089505862px);
}
.game .card31pickup {
  transform: rotate(17.7906976744deg) translateX(-15.2770358408px)
    translateY(-47.6089505862px);
}
.game .card32Active {
  transition: transform 0.5s;
  transform: rotate(19.8837209302deg);
}
.game .card32Active:hover {
  transform: rotate(19.8837209302deg) translateX(-17.0056189325px)
    translateY(-47.019239942px);
}
.game .card32pickup {
  transform: rotate(19.8837209302deg) translateX(-17.0056189325px)
    translateY(-47.019239942px);
}
.game .card33Active {
  transition: transform 0.5s;
  transform: rotate(21.976744186deg);
}
.game .card33Active:hover {
  transform: rotate(21.976744186deg) translateX(-18.7115113714px)
    translateY(-46.3667913727px);
}
.game .card33pickup {
  transform: rotate(21.976744186deg) translateX(-18.7115113714px)
    translateY(-46.3667913727px);
}
.game .card34Active {
  transition: transform 0.5s;
  transform: rotate(24.0697674419deg);
}
.game .card34Active:hover {
  transform: rotate(24.0697674419deg) translateX(-20.3924369797px)
    translateY(-45.6524754425px);
}
.game .card34pickup {
  transform: rotate(24.0697674419deg) translateX(-20.3924369797px)
    translateY(-45.6524754425px);
}
.game .card35Active {
  transition: transform 0.5s;
  transform: rotate(26.1627906977deg);
}
.game .card35Active:hover {
  transform: rotate(26.1627906977deg) translateX(-22.0461528929px)
    translateY(-44.8772452655px);
}
.game .card35pickup {
  transform: rotate(26.1627906977deg) translateX(-22.0461528929px)
    translateY(-44.8772452655px);
}
.game .card36Active {
  transition: transform 0.5s;
  transform: rotate(28.2558139535deg);
}
.game .card36Active:hover {
  transform: rotate(28.2558139535deg) translateX(-23.6704525524px)
    translateY(-44.0421352339px);
}
.game .card36pickup {
  transform: rotate(28.2558139535deg) translateX(-23.6704525524px)
    translateY(-44.0421352339px);
}
.game .card37Active {
  transition: transform 0.5s;
  transform: rotate(30.3488372093deg);
}
.game .card37Active:hover {
  transform: rotate(30.3488372093deg) translateX(-25.26316865px)
    translateY(-43.1482596377px);
}
.game .card37pickup {
  transform: rotate(30.3488372093deg) translateX(-25.26316865px)
    translateY(-43.1482596377px);
}
.game .card38Active {
  transition: transform 0.5s;
  transform: rotate(32.4418604651deg);
}
.game .card38Active:hover {
  transform: rotate(32.4418604651deg) translateX(-26.8221760192px)
    translateY(-42.196811178px);
}
.game .card38pickup {
  transform: rotate(32.4418604651deg) translateX(-26.8221760192px)
    translateY(-42.196811178px);
}
.game .card39Active {
  transition: transform 0.5s;
  transform: rotate(34.5348837209deg);
}
.game .card39Active:hover {
  transform: rotate(34.5348837209deg) translateX(-28.3453944716px)
    translateY(-41.1890593757px);
}
.game .card39pickup {
  transform: rotate(34.5348837209deg) translateX(-28.3453944716px)
    translateY(-41.1890593757px);
}
.game .card40Active {
  transition: transform 0.5s;
  transform: rotate(36.6279069767deg);
}
.game .card40Active:hover {
  transform: rotate(36.6279069767deg) translateX(-29.8307915717px)
    translateY(-40.1263488771px);
}
.game .card40pickup {
  transform: rotate(36.6279069767deg) translateX(-29.8307915717px)
    translateY(-40.1263488771px);
}
.game .card41Active {
  transition: transform 0.5s;
  transform: rotate(38.7209302326deg);
}
.game .card41Active:hover {
  transform: rotate(38.7209302326deg) translateX(-31.2763853494px)
    translateY(-39.0100976604px);
}
.game .card41pickup {
  transform: rotate(38.7209302326deg) translateX(-31.2763853494px)
    translateY(-39.0100976604px);
}
.game .card42Active {
  transition: transform 0.5s;
  transform: rotate(40.8139534884deg);
}
.game .card42Active:hover {
  transform: rotate(40.8139534884deg) translateX(-32.6802469442px)
    translateY(-37.8417951433px);
}
.game .card42pickup {
  transform: rotate(40.8139534884deg) translateX(-32.6802469442px)
    translateY(-37.8417951433px);
}
.game .card43Active {
  transition: transform 0.5s;
  transform: rotate(42.9069767442deg);
}
.game .card43Active:hover {
  transform: rotate(42.9069767442deg) translateX(-34.0405031789px)
    translateY(-36.6230001956px);
}
.game .card43pickup {
  transform: rotate(42.9069767442deg) translateX(-34.0405031789px)
    translateY(-36.6230001956px);
}
.game .card44Active {
  transition: transform 0.5s;
  transform: rotate(45deg);
}
.game .card44Active:hover {
  transform: rotate(45deg) translateX(-35.3553390593px)
    translateY(-35.3553390593px);
}
.game .card44pickup {
  transform: rotate(45deg) translateX(-35.3553390593px)
    translateY(-35.3553390593px);
}

/*# sourceMappingURL=index.css.map */
